<!-- driver/payment_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment List</title>
</head>
<body>
    <h1>Payment Records</h1>

    {% if payments %}
    <ul>
        {% for payment in payments %}
            <li>
                <a href="/driver/payment/details/{{ payment.payment_id }}/">
                    Payment ID: {{ payment.payment_id }} - Amount: ${{ payment.amount }} - Date: {{ payment.date }}
                </a>
            </li>
        {% empty %}
            <li>No payments found.</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No payments found.</p>
    {% endif %}
    <br>
    <br>
    <a href="{% url 'homepage' %}">Back to Homepage</a>
    <br>
    <br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
