<html>
    <body>
        <h1>Payment Details</h1>
        <div>
            <p>Payment ID: {{ payment.payment_id }}</p>
            <p>Credit Card Used: {{ payment.credit_card_no }}</p>
            <p>Amount Payed: {{ payment.amount }}</p>
            <p>Check No: {{ payment.check_no }}</p>
            <p>Cash: {{ payment.cash }}</p>
            <p>Date: {{ payment.date }}</p>
        </div>
    <br>
    <a href="/driver/payment/update/{{ payment.payment_id }}/">Update Record</a> <br>
    <a href="/driver/payment/delete/{{ payment.payment_id }}/">Delete Record</a> <br>
    <br>
    <a href="{% url 'payment_list' %}">Back to Payment Records</a>
    <br>
    <br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

</body>
</html>