<html>
<head>
    <title>Permit List</title>
</head>
<body>
    <h1>Permit List</h1>

    {% if permits %}
    <ul>
        {% for permit in permits %}
            <li>
                <ul>
                    <a href="/driver/permit-update/{{ permit.permit_id }}/"><li>Permit ID: {{ permit.permit_id }}</li></a>
                    <li>Type: {{ permit.types }}</li>
                    <li>Purchase Date: {{ permit.purchase_date }}</li>
                    <li>Expiration Date: {{ permit.expiration_date }}</li>
                    <li>Cost: {{ permit.cost }}</li>
                    <li>Vehicle ID: {{ permit.vehicle_id }}</li>
                    <li>Driver ID: {{ permit.driver_id }}</li>
                    <li>Status: {{ permit.status }}</li>
                </ul>
            </li>
        {% empty %}
            <li>No permits found.</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No permits found.</p>
    {% endif %}
    <br>
    <a href="{% url 'permit_add' %}">Add New Permit</a>
    <br>
    <br>
    <a href="{% url 'homepage' %}">Back to Homepage</a>
    <br>
    <br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>