<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permit Payment</title>
</head>
<body>
    <h1>Permit Payment</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Payment</button>
    </form>
    <br>
    <br>
    <a href="{% url 'select_permit' %}">Back to Select Permit</a>
    <br>
    <br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>