<html>
    <body>
        <h1>Vehicle Details</h1>
        <div>
            <p>Vehicle ID: {{ vehicle.vehicle_id }}</p>
            <p>Driver: {{ vehicle.driver }}</p>
            <p>License Plate: {{ vehicle.license_plate }}</p>
            <p>Make: {{ vehicle.make }}</p>
            <p>Model: {{ vehicle.model }}</p>
            <p>Color: {{ vehicle.color }}</p>
            <p>Year: {{ vehicle.year }}</p>
        </div>
    <br>
    <a href="/driver/vehicles-update/{{ vehicle.vehicle_id }}/">Update Vehicle</a> <br>
    <a href="/driver/vehicles-delete/{{ vehicle.vehicle_id }}/">Delete Vehicle</a> <br>
    <br>
    <a href="{% url 'vehicle_list' %}">Back to Vehicle List</a>
    <br>
    <br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    </body>
</html>